/* 선택자(selector) */

* {
  /* 보더박스로 지정해 padding content border 다 합침  */
  box-sizing: border-box;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#header-center {
  margin: 0 auto;
  width: 1080px;
}
#header-search a {
  text-decoration: none;
}

#header-search h1 {
  width: 198px;
  height: 48px;
  display: inline-block;
  /* background-image: url(./sp_search.png);
  background-position: -4px -10px; */
  background: url(./sp_search.png) -4px -4px no-repeat;
  vertical-align: middle;
}

#header-search h1 span {
  display: none;
}

#header-search fieldset {
  /* 순서대로 시계방향 위 오른쪽 아래 왼쪽 */
  margin: 12px 0 12px 10px;
  padding: 12px 0 12px 10px;
  width: 520px;
  height: 49px;
  display: inline-block;
  border: 2px solid #03cf5d; /* hex */
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
}

#header-search fieldset input {
  /* input창은 별도 지정없이 css적용되어 있어서 삭제하려는 의도 */
  /* input창은 기본적으로 inline-block 임 */
  border: none;
  padding: 0;
  outline: none;
  vertical-align: top;
  width: 405px;
  height: 23px;
}

#header-search fieldset button {
  width: 49px;
  height: 49px;
  border: none;
  padding: 0;
  background: #03cf5d;
  position: absolute;
  right: 0;
  top: -2px;
}

#search-image {
  background-image: url(./sp_search.png);
  background-position: -3px -60px;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
  margin: 14px;
}

/* #header-center h1 {
    자손 선택자
} */
