<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <title>movie review</title>
  </head>
  <body id="home">
    <div class="header">
      <div class="Home"><a href="/">My Movie reviews</a></div>
      <div class="addreview"><a href="/create">Add a New review</a></div>
    </div>
    <div id="allcontain">
      <div class="article">
        {% for post in posts %}
        <div class="content">
          <div class="imgcontain" style="text-align: center">
            <img
              src="https://picsum.photos/id/{{post.id}}1/250/250"
              class="img"
              style="width: 70%"
            />
          </div>
          <h3 class="content-h">
            <a href="/detail/{{post.id}}">{{post.title}}</a>
          </h3>
          <p>개봉년도 : {{post.openyear}} 년</p>
          <p>장르 : {{post.genre}}</p>
          <p>별점 : {{ post.star|floatformat }}</p>
        </div>
        {% endfor %}
      </div>
      <div class="container">
        <h1>What's your favorite movie?</h1>
        <p style="font-size: 34px">add your review, please</p>

        <div class="bird-container bird-container--one">
          <div class="bird bird--one"></div>
        </div>

        <div class="bird-container bird-container--two">
          <div class="bird bird--two"></div>
        </div>

        <div class="bird-container bird-container--three">
          <div class="bird bird--three"></div>
        </div>

        <div class="bird-container bird-container--four">
          <div class="bird bird--four"></div>
        </div>
      </div>
    </div>
  </body>
</html>
